//scss for component common
a {
	text-decoration: none;
	display: block;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
img {
	display: block;
	margin: auto;
	max-width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	image-rendering: auto;
}

.main-title {
	font-family: Rbm;
	&.--white {
		color: $white-cl;
	}
	&.--black {
		color: $black-light-cl;
	}
}

.btn {
	font-family: Rbm;
	text-align: center;
	padding: 1.5rem 4.5rem;

	color: $white-cl;
	font-size: 1.5rem;
	cursor: pointer;
	@include br(6px);
	@include transition(transform $t2);

	&-green {
		background-color: $blue-cl;
	}
	&-black {
		background-color: $black-cl;
	}

	&:hover {
		transform: translateY(-3px);
	}

	@include mobile {
		padding: 1.5rem 3rem;
	}
}

.scroll-btn {
	width: 4rem;
	height: 4rem;
	background-color: #fff;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	border: 0;
	cursor: pointer;
	outline: none;
	border-radius: 50%;
	box-shadow: 0 0 5px #acacac;
	@include hidden;
	&.fas {
		font-size: 1.6rem;
	}
	&.show {
		@include visible;
	}
}
