.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 700;
	max-height: 10rem;
	padding: 2rem 0;

	@include transition(padding $t2);
	.container {
		@include flex(row, space-between, center, wrap);

		//when scroll add bg
		.bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: calc(100% - 5px);
			height: 100%;

			pointer-events: none;
			@include transition(background $t2);
			&.--scroll {
				background-color: $black-cl;
			}
		}
	}

	&__logo > a {
		letter-spacing: 0.1rem;
		@include text(2.5rem, $white-cl, Rbm);
		& > span {
			font-weight: bold;
			color: $blue-cl;
		}
	}

	&__list {
		@include flex(row, space-between, center, wrap);

		li {
			position: relative;
			a {
				padding: 1.7rem;
				letter-spacing: 0.025rem;
				@include text(1.5rem, $white-cl, Rbm);

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;

					width: 100%;
					height: 0.2rem;

					background-color: $white-cl;
					transition: opacity $t2, transform $t2;

					@include transform(translateY(5px));
					@include hidden;
				}

				&:hover:before {
					@include transform(translateY(0));
					@include visible;
				}
			}
		}
	}
	&.--scroll {
		padding: 1rem 0;
	}

	@include sc-break(600px) {
		.container {
			display: block;
			text-align: center;
		}

		&__logo a {
			font-size: 2.2rem;
		}

		&__list {
			& > li {
				width: calc(100% / 3);
				&:first-child {
					display: none;
				}
				a {
					padding: 1.6rem;
					font-size: 1.3rem;
				}
			}
		}
	}
}
